@font-face{
	font-family: myownfont;
	src: url(./fonts/Stranger.ttf) ;
}

h1{
	font-family: 'myownfont', sans-serif;
	font-size: 100px;
}
h2{

font-family: 'Caveat Brush', cursive;
}
h3{
font-family: 'Barrio', cursive;

}